/* Criando algumas variáveis */
:root{
    --primary-color: #3498db;
    --secundary-color: #2980b9;
    --text-color: #ecf0f1;
    --text-secondary-color: #000f1f;
    --background-color: #34495e;
}

/*
Reset dos estilos
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/* Estilizando o menu lateral */
.menu-lateral{
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: var(--background-color);
    z-index: 5; /* trazendo o elemento mais para frente */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
/* Classe que vai ativar o menu (será usada pelo JavaScript) */
.menu-lateral.ativo {
    left: 0;
}

/* Estilizando a ul */
.menu-lateral ul{
    list-style-type: none;
    padding: 0;
    margin-top: 60px;
}

/* Estilizando a li */
.menu-lateral ul li{
    padding: 15px 30px;
}

/* Estilizando o link */
.menu-lateral ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Estilizando o icone a tag ( i ) */
.menu-lateral ul li a i{
    font-size: 24px;
}

/* Estilizando a li para criar um hover */
.menu-lateral ul li:hover{
    background-color: var(--secundary-color);
}

/* Usando o trensform no css no icone para rotacionar no eixo x*/
.menu-lateral ul li a i:hover{
    transform: translateX(5px) rotate(5deg);
}

/* estilizando o botão*/
.botao-menu{
    background-color: var(--primary-color);
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 6; /* trazendo o elemento mais para frente */
    border-radius: 5px;
    font-size: 24px;
    border: none;
    padding: 10px 15px;
    color: var(--text-color);
}
.botao-menu:hover{
    background-color: var(--secundary-color);
}

.botao-menu.ativo{
    left: 320px;
}

/* Estilizando o conteúdo principal */
.conteudo{
    margin-left: 80px;
    padding: 40px;
    color: var(--text-secondary-color);
}
.conteudo.ativo{
    margin-left: 320px;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Estilizando a div vazia para criar um efeito de cor e sobreposição*/
.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
}
.background.ativo{
    opacity: 1;
    visibility: visible;
}