/* Resetando Estilos de toda a página */
*{
    margin: 0;
    padding: 0;
}

/* Estilizando o corpo geral da página */
body{
    background-color: #80808029;
    font-family: Raleway;
}

/* Estilos e Classes que se reaproveita */
.larguraMax{
    max-width: 1024px;
    border: 1px solid grey; /* retirar ao concluir */
}
/* Fim dos estilo reaproveitáveis */

/* Estilizando o topo */
.img32px{
    width: 32px;
    height:32px;
}
#secaoCabecalho{
    width: 100%;
    height: 55px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerAgrupCentral{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
#textoLogo{
    font-size: 24px;
    color: #5d15d1;
    margin-left: 10px;
}
/* Fim dos estilo do topo*/

/* Estilizando a área do Formulário*/
#secaoFormulario{
    width: 100%;
    height: auto;
    background: url("../imagens/bahia.jpg") no-repeat;
    background-size: cover;
}
#formulario{
    margin:0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
}
#formularioTopo{
    width: 100%;
    height: 35px;
    background-color: #5d15d1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#formularioTopo img{
    width: 20px;
    rotate: -45deg;
}
#formularioTopo h1{
    font-size: 14px;
    color: #fff;
    margin-left: 5px;
}
#formularioCorpo{
    width: 100%;
    background-color: #fff;
    padding: 30px 25px 20px 25px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#formularioCorpo h2{
    font-size: 22px;
    margin-bottom: 24px;
}
label{
    font-size: 16px;
}
input, select{
    width: 100%;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}
select{
    padding-left: 3px;
    padding-right: 3px;
    box-sizing: border-box;
}
.quadrosOpcoes{
    display: flex;
    width: 100%;
}
.opcoes{
    width: 50%;
}
.prefQuarto .prefHospedagem{
    display: flex;
    justify-content: flex-start;
}
.marcaItem{
    display: flex;
    width: 120px;
    align-items: center;
}
.marcaItem input{
    width: 15px;
   
}
.marcaItem label{
    margin-left: 8px;
}
button{
    width: 160px;
    height: 32px;
    background-color: #5d15d1;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 12px;
}
button:hover{
    cursor: pointer;
}
/* Eslizando a Seção Ofertas */
#secaoOfertas{
    width: 100%;
    height: auto;
    margin: 32px auto auto 0px;
    
}
#secaoOfertas h2{
    font-size: 20px;
    margin-bottom: 10px;
}
#secaoOfertas h3{
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 10px;
}
.negrito{
    font-weight: bold;
}
.imagensOfertas{
    width: 100%;
    height: 375px;
    display: flex;
    justify-content: space-between;
}
#imgDestaque{
    position: relative;
    width: calc(50% - 10px);
    height: 100%;
}
#blocoImagens{
    width: calc(50% - 10px);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:15px;
}
.quatroImagens{
    
    width: calc(50% - 10px);
    height: calc(50% - 10px);

}
.imgTamanho{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 6px;
}
.legenda{
    position: absolute;
    background-color: rgba(0,0,0,50%);
    color: #fff;
    text-align: center;
    font-size: 17px;
    width: 100%;
}
