/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}

/* Estilizando a Seção Banner */
.section_banner {
    width: 100%;
    height: auto;
    padding: 120px 80px;
    background-image: url("../img/banner-topo.jpg");
    background-position: center;
    background-size: cover;
}

/* Estilizando o primeiro box da seção */
.container_logo{
    max-width: 250px;
    color: #3C184E;
}
/* Parágrafos da Seção */
#p1{
    font-size: 35px;
    margin: 0 0 5px 0;
}
#p1 img{
    width: 30px;
    margin-right: 5px;
}
#p2{
    font-size: 14px;
    text-align: center;
    margin: 0;
}

/* Estilizando o segundo box da seção */
.container_texto{
    width: 100%;
    max-width: 1024px;
    border-radius: 10px;
    padding: 40px;
    margin: 70px auto 0;   
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px #1f26875e; 
}