/* 
    Created on : 21 de mar. de 2023, 10:22:51
    Author     : luizotavio
*/

/* Abaixo um estilo padrão para "resetar" estilos do navegador */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Estilizando a largura máxima*/
.larguraMaxima {
    width: 100%;
    max-width: 1024px;
}

/* Estilizando a seção topo */
#topoHome {
    display: flex;
    width: 100%;
    max-width: 1024px;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    background-color: #fff;
}
#topoHome img {
    width: 80px;
    margin-right: 10px;
}
#topoLogo {
    display: flex;
    margin-right: 20px;
    align-items: center;
}
#topoListaLinks {
    margin-left: 20px;
}
#topoLogo h1 {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
}
#topoLogo p {
    font-size: 16px;
    font-weight: bold;
    color: #2f86d6;
}
.linkTopo {
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 18px;
    color: #233032;
}

/* Estilizando a seção Banner 1 */
#banner {
    display: flex;
    background-color: #2f86d6;
    align-items: center;
    justify-content: space-around;
}

/* Ainda não usada - teste para inserir uma fundo 
nas divs e criar o efeito de texto mais ao centro*/
.bannerFundo { 
background-color: #2f86d6;    
}
#banner p {
    font-size: 15px;
    color:#fff;
}
#banner h2 {
    font-size: 28px;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}
#textoBanner{
    width: 40%;
}

/* Estilizando a seção primeiro anúncio  */
#primeiroAnuncio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #233032;
    height: 150px;
}
#primeiroAnuncio h2{
    font-size: 24px;
    color: #fff;
}
#primeiroAnuncio p {
    font-size: 16px;
    color: #fff;
}
#primeiroAnuncio a{
    font-size: 18px;
    background-color: #2f86d6;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
}

/* Estilizando a seção informações */
#informacoes {
    text-align: center;
    background-color: #fff;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
#tituloInformacoes {
    width: 65%;
}
#informacoes h2 {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    padding: 10px;
}
#informacoes span {
    font-size: 32px;
    font-weight: bold;
    color: #2f86d6;
}
#informacoes h3 {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    padding: 10px;
}
#informacoes p {
    font-size: 16px;
    color: #000000;
    padding: 10px;
}
.imagemTamanhoPadrao {
    width: 100px;
}
#infoCards {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card {
    width: 25%;
}

/* Estilizando a seção de planos */
#planos {
    background-color: #ccccff;
    margin-top: 15px;
    padding: 15px;
    height: 450px;
    text-align: center;
}
#planosTitulo {
    margin-top: 30px;
}
#planos h2{
    font-size: 32px;
    font-weight: bold;   
}
#planos span {
    font-size: 32px;
    font-weight: bold;
    color: #2f86d6; 
}
#tabelaPlanos {
    text-align: center;
    margin-top: 30px;
    width: 80%;
}
.imgTabela {
    width: 100px;
}
#tabelaPlanos th{
    width: 20%;
}
.linhaPar {
    font-size: 16px;
    background-color: #887777;
    height: 50px;
}
.linhaPar:hover {background-color: coral;}

.linhaImpar {
    font-size: 16px;
    background-color: #f1f3f7;
    height: 50px;
    
}
.linhaImpar:hover {background-color: coral;}

/* Estilizando a seção segundo anúncio  */
#segundoAnuncio {
    margin-top:150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2f86d6;
    height: 150px;
}
#segundoAnuncio h2{
    font-size: 24px;
    color: #fff;
}
#segundoAnuncio p {
    font-size: 16px;
    color: #fff;
}
#segundoAnuncio a{
    font-size: 18px;
    background-color: #233032;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
}

/* Eslizando a seção contato/rodapé */
#rodapeLogo img {
    width: 80px;
    margin-right: 10px;
}
#rodapeLogo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin: 20px auto;
 }
 #rodapeLogo h1 {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
}
#rodapeLogo p {
    font-size: 16px;
    font-weight: bold;
    color: #2f86d6;
}
#contatos {
     text-align: center;
     margin: 20px auto;
     padding: 20px;
     font-size: 16px;
     line-height: 40px;
     color: #000000;
}
#copyRight {
     text-align: center;
     margin: 20px auto;
     width: 50%;
     border-top: 1px solid grey;
     border-bottom: 1px solid grey;
 }
 #copyRight span {
     color: blue;
     font-size:16px;
     font-weight: bold;
}